services:
  main:
    build:
      context: .
      args:
        - ARCHITECTURE=x86
        - RUST_VERSION=1.93.0
        - TCL_VERSION=17.x
      tags:
        - linichotmailca/rust-i586:1.93.0
        - linichotmailca/rust-i586:latest
      dockerfile: Dockerfile

